@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  background-color: #40140F;
  color: #b4b0b0
}

a {
  color: lightgray;
  text-decoration: underline;
}

a.active {
  color: #b4b0b0;
  text-decoration: none;
}


@keyframes scaly {
  from {width: 100%;}
  to {width: 10%;}
}

.scalemation {
  animation: scaly 2s ease-in-out;
}